.ShopContainer1 {
  margin: 23%;
  margin-top: 5%;
  background-color: rgb(255, 255, 255, 0.3);
  color: #070707cc;
  border-color: black;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 15px;
}

.ShopContainer1a {
  margin: 5%;
  margin-top: 0px;
  text-align: center;
}

#Separate {
  width: 50%;
}

.ShopTittle {
  font-size: 200%;
  font-weight: 900;
  color: #023047;
  margin-top: 20px
}

.cbutondetail {
  display: flex;
  justify-content: center;
}

.header,
.header2 {
  display: grid;
  grid-template-columns: 9% 30% 12% 12% 17% 12% 12%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.header2 {
  background-color: rgba(199, 199, 199, 0.739);
}

.header {
  border: 1px solid #858585cc;
  border-top: 0px solid #858585cc;
  border-left: 0px solid #858585cc;
  border-right: 0px solid #858585cc;
}
.btnX{
  width: 68%;
  height: 20px;
  font-weight: bold;
  border: none;
  text-align: center;
}
.btnXTittle{
  width: 68%;
  text-align: center;
}

.shopImg {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.shopAmount {
  display: grid;
  grid-template-columns: 15% 25% 15%;
}
#shopTl{
  font-weight: bold;
}

.shopNum {
  height: 24px;
  width: 100%;
  border: none;
  text-align: center;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.shopma,.shopme{
  height: 24px;
  width: 100%;
  font-weight: bold;
  border: none;
  background-color: #d6d6d6;
}
.shopma{
  border-radius: 0px 4px 4px 0px ;
  border-top: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.shopme{
  border-radius: 4px 0px 0px 4px ;
  border-top: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}

#shopTotal {
  display: grid;
  grid-template-columns: 80% 20%;
  font-weight: bold;
}

.perMax {
  width: 55%;
  text-align: center;
  color: rgb(124, 124, 124);
}