.pagination {
    display: flex;
    margin-bottom: 0px;
    width: 100%;
    color: green;

    flex-wrap: wrap;
    justify-content: center;
}
.item {
    margin: 10px;
}
.item button {
    border: none;
    font-weight: bold;
    color: green;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(211, 207, 207, 0.618);
    cursor: pointer;
    color: #000;
}

.item button:hover {
    font-size: 110%;
}

#sep {
    color: white;
}
.item button:focus {
    font-weight: 800;
    border-color: #1010106c;
    background-color: #43433b;
    color:#eee;
}